[Desktop Entry]
Version=1.0
Type=Link
Name=SwissRemix: Readme
Name[fr]=SwissRemix: Lisez-moi
Name[it]=SwissRemix: Leggi-mi
Name[de]=SwissRemix: Bitte lesen
Comment=Ubuntu 9.04 SwissRemix Readme
Comment[de]=Readme für Ubuntu 9.04 SwissRemix 
URL=file:///usr/share/doc/ubuntu-desktop-swiss/Readme.html

Icon=/usr/share/doc/ubuntu-desktop-swiss/ubuntu-ch.ico
X-Ubuntu-Gettext-Domain=example-content

