<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>












<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>Release Notes Ubuntu SwissRemix</title></head><body><br>


<h3><a name="deutsch">Release Notes for Ubuntu 9.10 SwissRemix
d-f-i-e&nbsp;&nbsp; <br>
</a></h3>

<h3><a name="deutsch">deutsch/</a><a href="#english">english</a><br>
</h3>
<h3>Über dieses Dokument </h3>
Sie finden hier <a href="#inst-info-de">Informationen zur Installation</a>, wie Sie danach <a href="#Remix_vervollst%E4ndigen">das
Ubuntu SwissRemix System vervollständigen </a>können. Es gibt <a href="#wienutzen">Hinweise zur Nutzung </a>von Ubuntu, zur <a href="#idee">Idee hinter dem SwissRemix</a> und Antworten zu <a href="#faq-en">häufig gestellten Fragen</a>. Und am Schluss folgen <a href="#contact">Kontaktinformationen</a> und Links zu den <a href="#credits">Helfern und Sponsoren</a>. Die Lektüre lohnt sich, versprochen!<br>
<br>
Wenn möglich, lesen Sie bitte die aktuellste Version dieses Dokuments. Es befindet sich hier<br>
<a href="http://www.teamubuntu.ch/pub/9.10-desktop+swiss-remix/Readme.html">http://www.teamubuntu.ch/pub/9.10-desktop+swiss-remix/Readme.html</a><br>
<br>
<h3><a name="inst-info-de"></a>Informationen zur Installation</h3><br>
<table style="text-align: left; width: 100%; color: rgb(102, 51, 0); font-weight: bold;" border="1" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
      <td style="vertical-align: top; background-color: rgb(255, 255, 153);">Wichtig:
Die Paketsammlung im Swissremix belegt rund 6 GB Festplattenspeicher,
für die Installation empfohlen sind 10 GB oder mehr.<br>
      </td>
    </tr>
  </tbody>
</table>
<br>
Die
Installation eines Linux Komplettsystems ist deutlich einfacher und
geht massiv schneller vor sich, als man das von den etablierten
Systemen her kennt. Auch einem Anfänger gelingt die Installation meist
mühelos, insbesondere wenn <span style="font-weight: bold;">die gesamte Festplatte</span> für Ubuntu genutzt werden kann. <br>
<br>
Etwas heikler wird es, wenn <span style="font-weight: bold;">das vorhandene System verkleinert </span>werden
soll, damit es sich den Festplattenplatz mit dem neuen Ubuntu teilen
kann. Auf jeden Fall ist vorher eine Systemsicherung zu erstellen. Der Vorgang nennt sich 'Partitionieren' und auch für diesen
Fall gibt es eine Benutzerführung. Wenn man genau den Anweisungen am
Bildschirm folgt, gelingt die Installation problemlos und man kann über
ein Startmenu zwischen Ubuntu und dem vorherigen System wählen. Die
empfohlene Mindestgrösse für ein System mit Ubuntu SwissRemix ist 10
Gigabyte.<br>
<br>
Es gibt viele <span style="font-weight: bold;">Varianten und Vorlieben</span>,
wie man das System einrichten kann. Wir empfehlen,
mindestens die persönlichen Daten in eine eigene Partition (Bereich der
Festplatte) zu legen. Wer dazu genaueres erfahren will, informiert sich
via Fachliteratur, wendet sich an einen Linux Spezialisten (in der Nähe
oder an einem Szene Treff) - oder kontaktiert professionellen Support. <br>
<br>
Ebenfalls empfohlen, vor allem für alle Arten von tragbaren Geräten, ist die <span style="font-weight: bold;">Verschlüsselung der Festplatte</span> oder mindestens der Datenbereiche.&nbsp; Die dafür benötigte Software <span style="font-weight: bold; font-style: italic;">cryptsetup</span> und <span style="font-weight: bold; font-style: italic;">lvm2</span>
ist auf dem SwissRemix enthalten, der Vorgang erfordert allerdings
etwas Übung mit Linux Systemsoftware. Die Anleitung dazu gibt es z.B. <a href="http://wiki.ubuntuusers.de/System_verschl%C3%BCsseln">im Wiki von Ubuntuusers.de</a>. Auch hier können Ubuntu Fans und Profis weiterhelfen - eine elegante Möglichkeit bietet das Werkzeug <span style="font-weight: bold; font-style: italic;">Gitso</span>, welches man für die Fernunterstützung verwenden kann. <span style="font-weight: bold; font-style: italic;">Gitso</span> ist im Menu Anwendungen/Internet zu finden, für die Nutzung sind lediglich die Angaben des Supporters nötig.<br>
<br>
Wer schliesslich die Möglichkeiten ausschöpfen möchte, konfiguriert ein
Software RAID. Und zwar ohne Einschränkungen und mit denselben Mitteln,
wie es die Profis tun. <br>
<br>
Besonders wichtig bei RAID und verschlüsselten Festplatten ist die
Sicherung von System und Benutzerdaten. Auf dem Ubuntu SwissRemix gibt
es dafür eine Reihe von Backup-Lösungen&nbsp;&nbsp;  <br>
<br>
<h3><span style="font-family: Times New Roman;"><span style="font-weight: bold;"><a name="Remix_vervollständigen"></a>Wichtig: Ubuntu SwissRemix vervollständigen<br>

</span></span></h3>
<span style="font-weight: bold;">Bitte führen Sie nach der Installation den Script "Installation vervollständigen" auf dem Desktop aus</span>. Sie benötigen dafür eine Internetverbindung. <br>
<br>
Obwohl automatisiert lösbar, ist dieser Schritt aus rechtlichen Gründen
notwendig. Die Installation auf der DVD enthält enorm viele
Softwareprodukte, welche man alle frei benutzen und verteilen darf.
Es gibt aber auch häufig genutzte Komponenten mit rechtlichen
Einschränkungen, darum hier ein
paar Erklärungen zu den Rahmenbedingungen:<br>


<ul>
  <li>Eine wichtige Eigenschaft von Software ist
der Lizenzvertrag des Herstellers. Er regelt die Rechte des Benutzers, bestimmt aber
auch die Bedingungen zum Einsatz und definiert gewisse Einschränkungen,
zum Beispiel ob oder wie oft das Produkt kopiert werden darf. Ohne
Lizenzvertrag kommt das Urheberrecht zur Geltung, welches in der Regel den
Schwerpunkt auf den Schutz von geistigem Eigentum legt. <br>

    </li>
  <li>Die alternative Betrachtungsweise geht
davon aus, dass Zugang zu Wissen frei sein soll - und dass es sich bei
Software um 'niedergeschriebenes Wissen' handelt. Darum wurden für
freie Software besondere Lizenzvereinbarungen entwickelt, welche z.B. weniger
Einschränkungen bezüglich Verwendung machen. Die Weitergabe und das
Kopieren ist ausdrücklich erlaubt - ebenso wie die Installation auf
beliebig vielen Geräten. Man darf die Software sogar verändern - und
erst an der Stelle kommen auch besondere Pflichten ins Spiel, nämlich,
dass man die Veränderungen wieder der Allgemeinheit zur Verfügung
stellt.&nbsp; </li>
  <li>Auf einer DVD wie dem Ubuntu SwissRemix
darf aufgrund der Rechtslage nur Material vorhanden sein, welche via
Lizenz freigegeben wurde. Das trifft auf Ubuntu (System, Dokumentation
und Anwendungen) zu - und auch auf die vielen Zusatzprogramme,
Informationen und Medien.</li>
  <li>Andere
Programme - wir nennen sie in dem Zusammenhang 'unfreie
Software' - mögen zwar gratis sein, dürfen aber nicht verteilt werden
oder sind nur zum
nicht-kommerziellen Gebrauch bestimmt. Beispiele: Adobe Reader, Skype,
Google Earth, Codecs, Treiber oder Firmware. Der benutzer muss diese
also selbst herunterladen. Mehr dazu unter Informationen dazu unter <a href="http://www.ubuntu.com/ubuntu/licensing">http://www.ubuntu.com/ubuntu/licensing</a>

    <br>

    </li>
  <li>Um
trotz dieser Einschränkungen eine möglichst komfortable
Installation zu erlauben, können ein paar empfohlene Komponenten
aus den vordefinierten Quellen über die Funktion 'Installation
vervollständigen" eingerichtet werden. Es handelt sich um die Pakete <span style="font-weight: bold; font-style: italic;">ubuntu-restricted-extras, libdvdcss2, kubuntu-restricted-extras</span> und <span style="font-style: italic; font-weight: bold;">non-free-codecs</span>.</li>
  <li>Besonderes: <span style="font-weight: bold;">Innerhalb von Firmen und juristischen Personen</span> gelten besondere Reglungen! Es
ist dort möglich, einen Remix mit wenig aufwand inklusive proprietären
Treibern oder nicht-freier Software zu bauen und zu verteilen. Näheres
dazu erfahren Sie bei einem Dienstleister in der Nähe. <br>
  </li>

</ul>
<h3><a name="wienutzen"></a>Hinweise zur Nutzung von Ubuntu</h3>
<a name="why-de">Wie installiert man weitere Software?<br>
</a>


<p class="P5"><a name="why-de"></a><span style="font-weight: bold; font-style: italic;">Grundsatz 1:</span> <span style="background-color: rgb(102, 255, 153);">man bezieht Software heutzutage nur von einer </span><span style="font-weight: bold; background-color: rgb(102, 255, 153);">vertrauenswürdigen Quelle</span>
(Repository), möglichst via Internet. Installationen ab CD sind dank Breitbandverbindungen nicht mehr zeitgemäss und Software
von den Downloadportalen ("Abzockerseiten") ist schwer zu trauen. Man erspart sich
also&nbsp; die mühsame Suche nach Programmen und reduziert die Risiken
von schädlicher Software oder durch unseriöse Anbieter. Dank der
Softwarequelle sind Betriebssystem, Treiber und die installierten Programme
laufend aufeinander abgestimmt und können in einem Rutsch aktualisiert
werden. Unter Ubuntu heissen die Schnittstellen zur Software-Quelle <span style="font-weight: bold;">Software Center</span> (im Menu Anwendungen) oder <span style="font-weight: bold;">Synaptic</span>
(im Menu System/Systemverwaltung). Es ist möglich, zusätzliche - auch
eigene, z.B. firmeninterne - Quellen zu aktivieren, Stichworte dazu:
PPA,<a href="http://wiki.ubuntuusers.de/Fremdquellen" target="_blank"> Fremdquellen</a><br>
</p>
<p class="P5"><span style="font-weight: bold; font-style: italic;">Grundsatz 2</span>: <span style="background-color: rgb(102, 255, 153);">man holt sich keine ausführbaren Linux Installationsprogramme auf den
PC</span>. Ausser man weiss, was man tut. Sofern die Quelle vertrauenswürdig
ist, lädt man von dort eine *.DEB Datei (z.B. auf den Desktop) und
lässt diese z.B. mit Doppelklick oder via rechte Maustaste durch die
Softwareverwaltung (Gdebi) einrichten. Ein paar Beispiele befinden sich auf der DVD unter <a href="options">/options</a>. Nachteil
dieser Variante: Die Abhängikeitsprüfungen funktionieren nur teilweise
und das Paket wird später nicht automatisch aktualisiert. Ein Beispiel: <span style="font-weight: bold;">Skype</span> - ist aktuell in keinem Repository erhältlich und muss von der Herstellerseite geladen werden: <a href="http://www.skype.com/intl/de/download/skype/linux/choose">http://www.skype.com/intl/de/download/skype/linux/choose</a><br>
Immerhin gibt es eine *.DEB Datei (und auch *.RPM Versionen für die zweite grosse Linux Familie).<br>
</p><span style="font-style: italic; font-weight: bold;">Hände weg</span>:
Nicht empfohlen bzw. den Profis vorbehalten ist die Verwendung von
Installationsprogrammen. Trotzdem kann man einem solchen Werkzeug
begegnen (z.B. Programme zum Ausfüllen der Steuererklärung) und lässt
die Installation dann ausnahmsweise zu.&nbsp; Abhängigkeitsprüfungen
funktionieren dann kaum und es kann sein, dass man die Software nicht
restlos deinstallieren kann. <span style="font-family: Times New Roman;">Während
man dieses Verhalten von anderen Plattformen kennt, ist das für Linux
System untypisch. Es versteht sich so von selbst, dass vom Starten von
*.EXE Dateien dringend abgeraten wird, auch wenn erstaunlich viele
Windows Programme unter Linux laufen. <br>
<br>
<span style="font-weight: bold; font-style: italic;">Ausnahmen</span>:
Es gibt auch gute kommerzielle Linux Software für den professionellen
Einsatz, welche nicht über eine Softwarequelle oder ein *.DEB Paket
installiert wird. Beachten Sie in diesem Fall die Empfehlungen des
Herstellers.<br>
<br>
</span><h4><a name="windows-de">Von Windows auf Linux umsteigen<br>
</a></h4>



<p class="P1">
<a name="windows-de">Der Ubuntu SwissRemix liefert eine Fülle von
ausgetesteter und
vorinstallierter freier Software für den täglichen Einsatz. Auf dem
Internet findet man Anleitungen und Hilfen, wie der Umstieg am besten
gelingt. Achtung: Es sind die geheimniskrämerischen, monopolistisch
angehauchten und proprietäreren Produkte, welche bei der Umstellung
etwas schwieriger sind und welche laufend tückischer werden - und auf
die man auf Dauer sowieso lieber verzichtet.&nbsp;&nbsp;&nbsp; <br>
</a></p>
<p class="P1">Für fast jedes Szenario - zumindest im Bürobetrieb - ist
eine Lösung zu finden und je nach Programm geht man den einen oder
anderen Weg:<br>
</p>
<ul>
  <li>sich mit den Alternativen befassen und auf ein geeignetes freies Programm umstellen<br>
  </li>
  <li>das unfreie Programm mit einem freien Programm ersetzen und mit den original Daten weiterarbeiten</li>
  <li>die Daten umformatieren und mit einem freien Programm weiterbearbeiten</li>
  <li>die alten Daten nur noch mit einem Viewer betrachten und auf ein neues Format umsteigen<br>
  </li>
  <li>das Windows Programm unter Wine benutzen</li>
  <li>das Windows Programm in einem virtuellen lokalen PC oder via Terminal Server starten</li>
  <li>statt dem lokalen Programm eine Weblösung verwenden<br>
  </li>
</ul>




<p class="P1">&nbsp;<br>
<a name="windows-de">Vielleicht
aber möchte jemand freie Software auf dem jetzigen Betriebssystem
probieren? Die Windows Versionen einiger bekannter Vertreter von freier Software befinden
sich auf der DVD unter </a><a href="programs">/programs</a>. Gerade <span style="font-weight: bold; font-style: italic;">Thunderbird für Windows</span>
ist ein unverzichtbares Werkzeug, wenn man Emails und Kontaktdaten aus
den Fesseln einer verbreiteten geheimen Technologie retten will. <br>
</p>
Empfehlenswerte Lektüre: Die Maturaarbeit von Philipp Gassmann der Kantonsschule Zofingen: <a href="http://wiki.ubuntuusers.de/Projekte/Einf%FChrung_in_Ubuntu" target="_blank">Einführung in Ubuntu</a> <br>
<p class="P1">Ebenfalls hervorragende Einführung: <a href="http://www.schiedt.org/images/stories/linux/linux_fuer_einsteiger_ubuntu.pdf">Linux für Einsteiger</a> von Martin Schiedt. <br>
</p>


<span style="font-family: Times New Roman;"></span>
<h4><span style="font-family: Times New Roman;"><span style="font-weight: bold;"><a name="hardware-de">Hardware talk</a></span></span></h4>

<a name="hardware-de">Die Linux Gemeinschaft ist stolz auf die die riesige Liste von
Hardware, welche auf Anhieb mit Linux funktioniert. Es ist das Ergebnis
der gemeinsamen Arbeit von Standardisierungsorganisationen, Tausenden
von Freiwilligen, der Linux Distributoren und auch der Hardware
Anbieter. <br>
<br>Wenn heute eine Hardware nicht unterstützt werden kann, z.B. weil sie sehr neue Komponenten enthält, liegt dies
oft leider an nicht vorhandener Unterstützung oder fehlender Offenlegung durch den
Hersteller. Es ist deren Recht und deren Entscheid, ihr geistiges
Eigentum zu schützen - und nicht ein Manko von Linux oder der Community
Arbeit. Als Kunden haben
wir die Möglichkeit, die Hersteller um Linux Unterstützung für ein
bestimmtes Gerät zu bitten - oder Hardware zu wählen, für welche die
gesuchte Unterstützung vorhanden ist. <br>

<br>

In Mittelweg ist - wie oben schon beschrieben - die Verwendung von 'unfreier' Software. 'Unfrei' kann
auch hier heissen, dass die Software zwar gratis genutzt werden kann, aber nicht
auf einer DVD verbreitet werden darf. Oder es gibt andere
Einschränkungen, z.B. keine 64-Bit Version. Verschiedene Hersteller
bieten solche 'closed-source' Unterstützung - dann kann eventuell über die
'Hardware' Option im System Menu von Ubuntu solche Software nachgeladen
werden (beispielsweise von einigen Grafikkarten).&nbsp; <br>

<br>Andere Geräte - z.B. USB TV Adapter oder Audio Karten - benötigen eigene Firmware -
Programmcode, welcher durch den Treiber auf die Hardwarekomponente geladen wird.
Meist ist Verteilung von Firmware nicht erlaubt, man muss diese
entweder separat beschaffen - oder aus den mitgelieferten Treibern
extrahieren. Anweisungen für die eigene Hardware findet man auf dem Web, die Firmware wird dann nach /lib/firmware kopiert.
<br>

<br>
In den Softwarequellen von Ubuntu befindet sich folgende Firmware:
falls benötigt, können Sie diese über deren Link installieren: <br>
<br>
Eine Weitere Variante: die Nutzung von 'Windows LAN Treiber'
(ndiswrapper). Ndiswrapper ist im SwissRemix aktiviert (unter dem
System Menu) und erlaubt, einige verbreitete LAN/WLAN Adapter mit dem
Windows Treiber anzusteuern. Die Windows Unterstützung befindet sich
auf der Original-CD zum Gerät oder muss vom Hersteller bezogen
werden.&nbsp; Ein hierzulande verbreitetes Gerät, welches mit
Ndiswrapper läuft, ist die Globetrotter PCMCIA UMTS and WLAN
Karte (eingesetzt als "Mobile Unlimited PC Card"): Einfach mit der
Anwendung 'Windows LAN Treiber' die Datei *.inf öffnen (im Falle der
Globetrotter Karte: den Treiber findet man bei der Internetsuche nach
marvel8335XP.tar.gz). <span style="font-family: Times New Roman;"></span></a><span style="font-family: Times New Roman;"><br>
</span><h3><br><a name="why-de"></a><a name="idee"></a><a name="why-de">Die Idee hinter dem Swiss Remix?</a></h3>

<p class="P5"><a name="why-de">Der Verband /ch/open (The Swiss Open
Systems User Group)
und die Schweizer Free Software Communities unterstützen die
Verbreitung
von freier Software - Free and Open Source Software (FOSS). Free &amp;
Open Source Software eignet sich heute hervorragend für die Nutzung
auf Desktops und Laptops - und die&nbsp; Swiss Remix DVD soll bei der
Verbreitung helfen.<br>
&nbsp;<br>
Dank der Offenheit und der Freiheit von FOSS ist es jedem erlaubt,
diese Software nicht nur zu nutzen, sondern auch zu verteilen - oder
einen eigenen Remix zu bauen. Das ist speziell interessant für Schulen,
Firmen oder andere Organisationen.</a></p>
<p class="P5"><a name="why-de">
Die DVD demonstriert die
Vielfalt und Funktionalität der freien Software. Sie kann auch als Installationsquelle genutzt werden - wegen dem grossen
Softwareumfang gerade für Systeme ohne (Breitband-)Internetverbindung
geeignet.&nbsp; <br>
</a></p>

<p class="P5"><a name="why-de">Die Sammlung enthält nützliche
Werkzeugen für
Büro, Bildverarbeitung, Multimedia etc, einige länderspezifische
Voreinstellungen, Werkzeuge für Administratoren und die verbreiteten drei Desktops (Ubuntu,
Kubuntu und Xubuntu) - das alles auf einem einzigen
Installationsmedium. Mit dabei sind viele Ausbildungsprogramme der Edubuntu Distribution.<br>
</a></p>
<a name="why-de">Soweit verfügbar, befinden sich die Sprachdateien für Deutsch,
Französisch, Englisch und Italienisch auf der DVD sowie die zum Zeitpunkt der
Erstellung erhältlichen Softwarekorrekturen.<br>
<br>
</a><a name="why-de">Die oben genannte freie Weitergabe gibt es nicht nur für Software und Programme. Begeisterte Leute&nbsp; auf der
ganzen Welt schöpfen Kunstwerke und geistiges Eigentum,&nbsp; welches
frei verfügbar ist. Es gibt Fotos, Videos, Texte - z.B. unter der
"Creative Commons Lizenz". Die Weitergabe ist ausdrücklich erlaubt -
meist unter Namensnennung und unter derselben Lizenz. Ein paar
Beispiele sind auf der DVD unter </a><a href="extras">/extras</a> zu finden, die beiden oben genannten Bücher zu Ubuntu Linux gehören ebenfalls dazu.<br>
<br>


<h3><span style="font-weight: bold;"><a name="package-de">Paketauswahl</a></span></h3>
<a name="package-de"></a>Die umfangreiche Paketauswahl kam zustande durch
Diskussionen mit Benutzern, Lektüre von Blog Einträgen, unseren eigenen Vorlieben und
Hinweisen aus der Schweizer Community. Eine Liste der Ergänzungen wird
zusammen mit den ISO Dateien der DVD auf dem Web zur Verfügung
gestellt. Bevor man sich also auf die Suche nach Zusatzsoftware macht,
einfach schnell prüfen, ob das passende Programm nicht schon installiert ist ...<br>
<br>
Die DVD enthält die Oberflächen Gnome, KDE und XFCE. Standardmässig ist
Gnome eingestellt, welches von etwa 80% der Ubuntu Benutzer bevorzugt wird, und die Paketauswahl fokussiert auf Gnome. KDE und
XFCE sind in einer Grundausstattung vorhanden und können durch den
Benutzer nach seinem Gusto erweitert werden.<br>
<p class="P5"><a name="package-de">
Aus verschiedenen Gründen wurde mit dem SwissRemix am
Verhalten von Ubuntu nichts (bewusst) geändert und alle Programme
erhalten die Standardeinstellungen. <br>
</a></p> <br>





<h3><a name="english">Release Notes for Ubuntu 9.10 SwissRemix
d-f-i-e&nbsp;&nbsp; <br>
</a></h3>


<h3><a href="#deutsch" name="english">deutsch</a>/english<a href="file:///mnt/usr/src/swissremix/Readme.html#deutsch" name="english"><br>
</a></h3>







<p><a name="english">About this document<br>
</a></p>
<p><a name="english">This document contains </a><a href="Readme.html#inst-info-en">informationen about the installation</a> and hints about <a href="#non-free-en">completing the Ubuntu SwissRemix System</a>. There are some <a href="Readme.html#wienutzen">notes about how to use&nbsp;</a> Ubuntu, about <a href="#why-en">the idea behind the SwissRemix</a> and answers to <a href="Readme.html#faq-en">frequently asked questions</a>. At the bottom, there is <a href="Readme.html#contact">contact information</a> and reference to Our <a href="Readme.html#credits">Sponsors</a>. <br>

<br>

If your system is connected to the internet, you may study the latest version of this document on <br>

<a href="http://www.teamubuntu.ch/pub/9.10-desktop+swiss-remix/Readme.html">http://www.teamubuntu.ch/pub/9.10-desktop+swiss-remix/Readme.html</a><br>

<a name="english"></a></p>
<h3><a name="why-en">Why a Swiss Remix?</a><a name="why-en">&nbsp;</a></h3>







<p class="P5"><a name="why-en">The Swiss Open Systems User Group (/ch/open) and the Swiss Open Source communities want to
spread the word about Free Open Source Software (FOSS) in Switzerland - by
emphasizing its readyness for everyday use, in particular for desktops
and laptops. Thanks to the freedom and openness of &nbsp;FOSS it is
legally possible for anyone - schools, companies,
organizations - to not just use and copy the software and
media,
but also&nbsp;to create an own distribution based on Ubuntu.</a> <br>
</p>


<p class="P5">One main purpose of the DVD is to serve as demonstration
of the variety and functionality of current free software. The DVD can
be used as installation source for systems not connected to the
internet. The intention was to bundle additional useful software
(office tools, picture editing utilities, troubleshootingtools) and some Swiss
settings, and also to make the three major Ubuntu flavours (Ubuntu,
Kubuntu, Xubuntu) available and usable on the same installation.
Educational programs from Edubuntu are packed into the SwissRemix, too.
<br>
</p>





<p class="Standard">
</p>





<p class="P5">

</p>

<p class="P5">All
language components for English, German, French and Italian support are
ready on the DVD, both in live mode (running from DVD or USB-stick) and
when installed on a hard disk. Language and keyboard
are easily changed when booting or when logging in. The DVD includes
updates available at the date of production. <br></p>
<p class="P5"><br>
&nbsp;Freedom
to share is not limited to software. Enthusiasts around the world
create artwork and &nbsp;intellectual property which is freely
available. Look for media and documents under a
&nbsp;&#8222;Creative Commons
License&#8220; or similar. These allow free copying - usually under
the same licence - and in some cases also derivative works. Check the <a href="file:///cdrom/extras/">/extras </a>to find some books, music, videos and talks.<br>
<br><br>
</p>


<h3><span style="font-weight: bold;"><a name="package-en">Package selection</a></span><a name="package-en"><br>
</a></h3>




<p class="P5"><a name="package-en">We were inspired by software discussions on many blogs,
we have observed our own preferences and had several discussions with
members of the Swiss Ubuntu community. The full list of additions is
maintained on the web along with the ISO files of this DVD.&nbsp;
In case you are looking for additional software (PDF
Viewer, ZIP, Graphics Editing Software, text editor for power users,
...),&nbsp; check if it's not already there ;-)<br>
</a></p>






<p class="P5"><a name="package-en"><br>
It was decided not to modify any default behaviour of the underlying
software,&nbsp; additional programs come 'as-is' with no particular
customization and for current bugs we don't provide known workarounds.
This ensures maintainability of the systems and allows users to apply
procedures which work on a standard system.<br>
&nbsp;</a></p>


<p class="Standard">
</p>

<h3><a name="windows-en">Note for
Windows Users switching to Linux</a><br>
</h3>



<p class="P1"><a name="windows-en">
Although
the Linux platform offers a great deal of tested and preinstalled free
software for everyday use, many people initially prefer to try Free Open Source
Software on their current plattform.&nbsp; A very small selection of popular software is available on the DVD under&nbsp; </a>/programs.</p>


<p class="P1">
</p>
<span style="font-family: Times New Roman;">
</span>
<h3><span style="font-family: Times New Roman;"><span style="font-weight: bold;"><a name="hardware-en">Hardware talk</a></span></span></h3>

<a name="hardware-en">The linux community is proud of the huge amount of hardware that runs
right out of the box. It is the result of combined efforts by
organizations defining open standards, by thousands of volunteers, by
the linux distributors and hardware companies. If a piece of hardware
does not run with free software today, it is usually due to limitations
imposed by hardware manufacturers in order to guard their intellectual
property. It's their right and their decision, that's fine, and it's
not Linux to blame for it. As a consumer, we have the option to call
the manufacturer for support for our particular device, or to choose
hardware which is known to be well supported by Linux. <br>
<br>

Another possibility is to use your hardware with non-free software
components developed and offered by the hardware manufacturers. As one
example you may use the "Hardware" option in the system menu of Ubuntu
to detect devices supported by proprietary drivers (example: Nvidia).
Such software is legally protected from being distributed and may not
provide all the advantages of open source software (missing 64-bit
capabilities, for example), but can be downloaded for free.<br>

<br>

Other devices like USB TV sets may require firmware to be copied&nbsp;
to /lib/firmware. Find installation notes for your device on the
web. <br>

<br>

'Windows LAN drivers' (ndiswrapper), as included in the SwissRemix in
the System menu, uses Windows drivers for a selection of network or
wireless cards.&nbsp; The windows driver itself must be copied from
original CD or manufacturers site. One example of a card that runs
quite well with ndiswrapper is the Globetrotter PCMCIA UMTS and WLAN
Card (Mobile Unlimited PC Card): Just point 'Windows LAN drivers' to
the *.inf file (for this particular card: find marvel8335XP.tar.gz on
the web first). <span style="font-family: Times New Roman;"><br>
<br>
</span>
</a>
<h3><span style="font-family: Times New Roman;"><span style="font-weight: bold;"><a name="non-free-en">Popular Linux Software not on
the DVD</a></span></span></h3>



<span style="font-family: Times New Roman;">
<a name="non-free-en"><br></a></span><a name="non-free-en">Similar restrictions as mentioned above for hardware support may
also apply for widespread software. As a general rule: software should
be installed from secure repositories<br>
<br><span style="font-style: italic;">
Note:
the following text contains 'apt://'-urls. These URLs are known to work with Firefox and
Konqueror, other browsers may
require prior steps, see:&nbsp;</span></a><a style="font-style: italic;" href="http://wiki.ubuntuusers.de/apturl">http://wiki.ubuntuusers.de/apturl</a><span style="font-style: italic;">
</span><br>


<ul class="P5">
<li><a href="apt://ubuntu-restricted-extras,kubuntu-restricted-extras,xubuntu-restricted-extras">ubuntu-restricted-extras</a>:<br>
Installing this package will pull in support for MP3 playback and decoding,<br>

support for various other audio formats (GStreamer plugins), Microsoft fonts (Arial ...),<br>

Java runtime environment, Flash plugin, LAME (to create compressed audio<br>

files), Sun Java and DVD playback.<br>
Please note that these packages are restricted by copyright<br>

or legal issues in some countries. For more information see<br>

http://www.ubuntu.com/ubuntu/licensing<br>

    <br>

    </li><li><a href="apt://t1-xfree86-nonfree,ttf-xfree86-nonfree">t1-xfree86-nonfree ttf-xfree86-nonfree</a>:<br>
Some fonts, unfree but nice-to-have<br>
    <br>
</li>
  <li><a href="apt://googleearth">Google Earth</a>, <a href="apt://skype">Skype</a>, <a href="apt://alsa-firmware">Firmware für einige Soundkarten</a> </li>

</ul>

<br>

Instead of using repositories as software sources, you may manually
install packages. Look for Debian style packages with the extension
*.DEB, there are a few examples on the DVD under /options.<br>

<br>

As last option - not recommended - you find software with own binary installers. <span style="font-family: Times New Roman;"><br>
<br>
</span>
<h3><a name="faq-en">Frequently
asked questions</a></h3>



<p class="Standard"><a name="faq-en"></a></p>


<p class="Standard"><a name="faq-en">Q: Can I use the DVD for an upgrade?</a></p>




<p class="Standard"><a name="faq-en">A: The recommended way for
upgrades is using the &#8222;Update Manager&#8220;, available on all current Ubuntu
Systems. Ubuntu 8.04 systems have to be upgraded to 8.10 first, then to
9.04 before upgrading to 9.10. Please consider the following two
options: The next version of Ubuntu, coming out in April 2010, is a
Long Term Support edition (LTS) and will feature updates from Ubuntu
8.04 Hardy Heron (the latest LTS version). Or you might use the
Alternate / Text installer - also available from the boot menu of the
SwissRemix - to upgrade or to fix a broken installation. <br>
</a></p>


<p class="Standard"><a name="faq-en">Q: is there a 64-bit or Netbook
Version of Ubuntu 9.10 SwissRemix d-f-i-e available, too?</a></p>




<p class="Standard"><a name="faq-en">A:
No, our goal was to build a well equipped 32-bit edition, bundled with
some free media to fill about one DVD. As time allows, there
occasionally will be a 64-bit ISO built available from
www.teamubuntu.ch as download only. We are evaluating possibilities to
promote existing installations - including special purpose editions -
to SwissRemix clients. PowerPC Editions seem to be worth thinking about
as those nice G5 Macs are not supported anymore by the latest Apple OS
... <br>
</a></p>


<p class="Standard"><a name="faq-en">Q: I can't find the KDE 3.5 desktop</a></p>


<p class="Standard"><a name="faq-en">A:
SwissRemix is built on Ubuntu 9.10 which uses current edition of KDE. <span style="text-decoration: underline;"><br>
</span></a></p>



<p class="Standard"><a name="faq-en"><br>
Q: Where can I get Support for the Ubuntu SwissRemix?&nbsp;</a></p>

<p class="Standard"><a name="faq-en">
A: Ubuntu SwissRemix is built with original Ubuntu packages. Please
get advice from regular Ubuntu Wiki or Forums. You may visit our website to
find a list of contacts and resources <br>
</a></p><p class="Standard"><a href="http://www.ubuntu.ch" name="faq-en">http://www.ubuntu.ch <br>
</a></p>



<p class="Standard"><a name="faq-en"><br>
Q: Is WINE &#8211; the Windows emulator &#8211; part of SwissRemix? </a></p>


<p class="Standard"><a name="faq-en">A:
Our original position was to omit WINE:<br>
a) Software in the Windows environments can't be managed
by a package manager nor is there a trustworthy download source. As users continue to install software in Wine,
the Windows subsystem gets unmanageable, cluttered and inconsistent as known from regular Windows&nbsp;PC installations. <br>
</a></p>


<p class="Standard"><a name="faq-en">b)
Although WINE itself is free and able to
run a variety of Windows executables, many programs require additional
libraries, fonts or subsystems which are not freely available. A valid Windows license is required for certain libraries. <br>
</a></p>
<p class="Standard"><a name="faq-en">Yet, we decided to include Wine and further packages (Virtualization components, CHM readers) to ease
transition or integration into existing environments. Concerns as
mentioned above still apply.<br>
 </a></p>






<p class="Standard"><a name="faq-en">Q: I have already installed Karmic Koala. Can I put the SwissRemix on top?</a></p>


<p class="Standard"><a name="faq-en">A: Yes, you can. Soon. Look for step-by-step instructions to be
found on our website shortly. The impatient might send a note to bugs@teamubuntu.ch &nbsp;</a></p>





<p class="Standard"><a name="faq-en">Q: Why are there different terminals in the
menu or several chat tools?</a></p>





<p class="Standard"><a name="faq-en">A:
The goal of the Remix was to provide a selection of recommended software
and the option to switch between complete desktops from Ubuntu, Kubuntu
and Xubuntu. Each environment adds its own and optimized utilities to the shared application menu system,
giving users the opportunity to evaluate and
select the tool they prefer.&nbsp;<br>
For example, the selection of chat tools includes Pidgin, Quassel,
X-Chat, and Kopete, amsn. Apart from their
origin of desktop (likely to be visible in their 'About' or 'Help' Menu),
they have different characteristics to suit different user requirements.<br>
<br>
Q: I was told that the SwissRemix is a compelte Desktop system, but I
can't find Adobe Reader, nor Quicktime Player nor other of my
Favourites.<br>
A: Bear in mind the functionality provided by the Tool you're looking
for. Ubuntu has a generice document viewer which is invoked when you
doubleclick a PDF. Many multimedia formats brought to you by Quicktime
can be played by Linux standard tools. You will find lists of
alternatives on the web.<br>
</a></p>
<p class="Standard"><a name="faq-en">Q: I have installed Ubuntu
SwissRemix without any errors. Invoking 'Finish
Installation/Installation abschliessen" I see the error message "xyz is
a virtual package"<br>
A: just run one regular update of Ubuntu System. This usually cleans up the error.<br>
</a></p>

<h3><a name="faq-en"></a><a name="contact"></a><a name="faq-en">Further information &amp; contact <br>
</a></h3>
<p class="Standard"><a name="faq-en">The portal of the Swiss Ubuntu Community (english only): <br>
</a></p>
<p class="Standard"><a href="http://www.ubuntu.ch" target="_blank" name="faq-en">www.ubuntu.ch<br>
</a></p>
<p class="Standard"><a name="faq-en">Home of the SwissRemix: <br>
</a></p>
<p class="Standard"><a href="http://www.teamubuntu.ch" target="_blank" name="faq-en">www.teamubuntu.ch<br>
</a></p>




<p class="Standard"><a name="faq-en">For&nbsp; SwissRemix specific bug
reports and questions please use </a><a href="mailto:bugs@teamubuntu.ch"><span style="text-decoration: underline;">bugs@teamubuntu.ch</span></a></p><a name="credits"></a>Support<br>
<br>

<h3>Credits<br>
</h3>
<h4>
Contributions </h4>

<br>
<table style="text-align: left; width: 100%;" border="1" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
      <td style="vertical-align: top;"><a href="http://www.logintas.ch"><img style="width: 85px; height: 86px;" alt="" src="html/img/logo_logintas.png" align="middle" hspace="100" vspace="40"></a>
      </td>
      <td><br>
Logintas AG<br>
      <a href="http://www.logintas.ch" target="_blank">http://www.logintas.ch</a><br>
      </td>
      <td>
      <blockquote type="cite">Logintas builds and maintains secure IT
infrastructure&nbsp; for small, medium and large organizations. They
focus on free and open source software and maintain particular
expertise on Debian and Ubuntu Linux.  </blockquote>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><a href="http://www.wilhelmtux.ch"><img style="border: 0px solid ; width: 120px; height: 132px;" alt="" src="html/img/armbrust-trans-small.gif" align="middle" hspace="80" vspace="40"></a>
      </td>
      <td><br>
Wilhelm Tux<br>
      <a href="http://www.wilhelmtux.ch">http://www.wilhelmtux.ch</a><br>
      </td>
      <td>
      <blockquote type="cite">Wilhelm Tux ist eine überregionale Interessengruppe, die sich zum Ziel
gesetzt hat, den Einsatz von Freier Software in der Schweiz zu fördern,
insbesondere in öffentlichen Institutionen und Behörden.</blockquote>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><a href="http://www.wilhelmtux.ch/"><img style="border: 0px solid ; width: 167px; height: 74px;" alt="" src="html/img/logo-stoni-ch.png" align="middle" hspace="60" vspace="40"></a>
      </td>
      <td><br>
stoni.ch <br>
consulting &amp; help<br>
      <a href="http://www.stoni.ch">http://www.stoni.ch</a><br>
      </td>
      <td>
      <blockquote type="cite">Unsere Kunden erreichen dank unserer Erfahrung, unserem
Fachwissen in Management und Betrieb von Informatikabteilungen und dem
Einsatz von Free Software Lösungen hohen Nutzen - bei fairem Aufwand.</blockquote>
      </td>
    </tr>
  </tbody>
</table>
<br>
<h4>Sponsors</h4>
<br>
<table style="text-align: left; width: 100%;" border="1" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
      <td style="vertical-align: top; width: 352px;"><img style="width: 222px; height: 63px;" alt="" src="html/img/fds-logo.jpg" align="middle" hspace="40" vspace="40"><br>
      </td>
      <td style="width: 578px;">FDS Consulting GmbH<br>
      <a href="http://www.fds-consulting.ch" target="_blank">http://www.fds-consulting.ch</a><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 352px;"><img style="width: 222px; height: 92px;" alt="" src="html/img/logo.gif" align="middle" hspace="40" vspace="40"><br>
      </td>
      <td style="width: 578px;">ER Partner<br>
      <a href="http://www.erpartner.ch" target="_blank">http://www.erpartner.ch</a><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 352px;"><img style="width: 222px; height: 92px;" alt="" src="html/img/icpartner_logo.jpg" align="middle" hspace="40" vspace="40"><br>
      </td>
      <td style="width: 578px;">IC Partner<br>
      <a href="http://www.icpartner.ch" target="_blank">http://www.icpartner.ch</a><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 352px;"><img src="html/img/IBM_R_Logo_pan2718.png" alt="" style="width: 178px; height: 68px;" hspace="40" vspace="40"><br>
      </td>
      <td style="width: 578px;">IBM Switzerland<br>
      <a href="http://www.ch.ibm.com" target="_blank">http://www.ch.ibm.com</a><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 352px;"><img style="width: 222px; height: 50px;" alt="" src="html/img/hostpoint-logo.png" align="middle" hspace="40" vspace="40"><br>
      </td>
      <td style="width: 578px;">Hostpoint<br>
      <a href="http://www.hostpoint.ch" target="_blank">http://www.hostpoint.ch</a><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    
    <tr>
      <td style="vertical-align: top; width: 352px;"><img style="width: 200px; height: 126px;" alt="" src="html/img/cnlab_logo_combi.png" hspace="40" vspace="40"><br>
      </td>
      <td style="width: 578px;">cnlab Software AG<br>
      <a href="http://www.cnlab.ch" target="_blank">http://www.cnlab.ch</a><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 352px;"><a href="http://www.logintas.ch/"><img style="border: 0px solid ; width: 223px; height: 49px;" alt="" src="html/img/lunatic_logo.48_dl.png" align="middle" hspace="40" vspace="40"></a><a href="http://www.logintas.ch/"><br>
      </a></td>
      <td style="width: 578px;"><span style="text-decoration: underline;">Lunatic<br>
      </span><a href="http://www.logintas.ch/" target="_blank">http://www.lunatic.ch</a></td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 352px;"><img style="width: 124px; height: 66px;" alt="" src="html/img/steppingstonelogo.png" align="middle" hspace="62" vspace="40"><br>
      </td>
      <td style="width: 578px;">stepping stone GmbH<br>
      <a href="http://www.steppingstone.ch" target="_blank">http://www.steppingstone.ch</a><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 352px;"><img style="width: 222px; height: 55px;" alt="" src="html/img/logo_ziil_informatiklsungen_klein.jpg" align="middle" hspace="40" vspace="40"><br>
      </td>
      <td style="width: 578px;">Ziil Informatiklösungen<br>
      <a href="http://www.ziil.ch" target="_blank">http://www.ziil.ch</a><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr><tr>
      <td style="vertical-align: top; width: 352px;"><img style="width: 128px; height: 92px;" alt="" src="html/img/ch-open-logo.gif" align="middle" hspace="90" vspace="40"><br>
      </td>
      <td style="width: 578px;">/ch/open<br>
      <a href="http://www.ch-open.ch">http://www.ch-open.ch</a><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 352px;"><img style="width: 85px; height: 86px;" alt="" src="html/img/logo_logintas.png" align="middle" hspace="100" vspace="40"><br>
      </td>
      <td style="width: 578px;">Logintas AG<br>
      <a href="http://www.logintas.ch">http://www.logintas.ch</a><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top; width: 352px;"><img style="width: 111px; height: 45px;" alt="" src="html/img/puzzle-logo.png" align="middle" hspace="95" vspace="40"><br>
      </td>
      <td style="width: 578px;">Puzzle ITC GmbH<br>
      <a href="http://www.puzzle.ch">http://www.puzzle.ch</a><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>

  </tbody>
</table>

<p class="Standard">13.02.2010/dsto</p>


<p class="Standard">/usr/share/doc/ubuntu-desktop-swiss/Readme.html<br>
</p>

<p class="Standard"><br>
(<a href="#deutsch">top</a>)<br>
</p>



<p class="Standard"><br>
</p>




</body></html>