[Desktop Entry]
Name=Ubuntu Customization Kit Workflow Tool
GenericName=Ubuntu CD Customizer Workflow
Comment=Workflow Tool for UCK

Icon=uck

Exec=uck-flow

Categories=System;
StartupNotify=true
Type=Application
Version=1.0
X-DCOP-ServiceType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
