[Desktop Entry]
Name=Ubuntu Customization Kit
GenericName=Ubuntu Desktop CD Customizer
Comment=Customize your Ubuntu Desktop CDs easily

Exec=/usr/bin/uck-gui
Terminal=true

Categories=Utility;
Encoding=UTF-8
Icon=
MimeType=
Path=
StartupNotify=true
Type=Application
Version=1.0
X-DCOP-ServiceType=none
X-KDE-SubstituteUID=false
X-KDE-Username=